<% if current_user.admin? %>
    <%= form_for @user, url: admin_update_user_path(@user), method: :patch do |f| %>
            <div class="field">
                <%= f.label "Approved" %>
                <%= f.check_box :approved %>
            </div>
            <div class="field">
                <%= f.label "Role" %>
                <%= f.select :role, enum_option_pairs(User, :role) %>
            </div>
        <br>
        <div class="actions">
            <%= f.submit 'Update' %>
        </div>
    <% end %>
<% end %>
