<%= form_for @user do |f| %>
    <div class="field">
        <%= f.label "Bestätigt" %>
        <%= f.check_box :approved %>
    </div>
    <div class="field">
        <%= f.label "Rolle" %>
        <%= f.select :role, enum_option_pairs(User, :role) %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>