<h1><%= @user.name %></h1>


<% if can? :update, User  %>
    <%= link_to 'Edit User', edit_user_path(@user) %>
<% end %>

<h2>Last Posts</h2>

<div class="posts">
    <%= render partial: "posts/post", collection: @posts %>
</div>

<%= link_to 'Show More', user_posts_user_path(@user)%>


<h2>Favourites</h2>

<div class="posts">
    <%= render partial: "posts/post", collection: @favoured_posts %>
</div>

<%= link_to 'Show More', user_favourites_user_path(@user)%>