<div class="post">
	<div class="post-top">
		<span class="post-top">
      <a class="post-link" href="<%= post.url %>" target="_blank"><%= post.title %></a>
		(
      <span title="<%= post.heat %>"><%= post.score %></span>
      <%= link_to('+', upvote_post_path(post)) %> /
      <%= link_to('-', downvote_post_path(post)) %>
      )

      <% post.categories.each do |c| %>
      <span class="category-label">
        <%= link_to(c.name, c) %>
      </span>
      <% end %>

		</span>

    <span class="post-meta">

      <span class="post-user"><%= link_to(post.user.name, post.user) %></span>
      <%= time_ago_in_words(post.created_at) %>.

			<%= link_to post, { :class => "post-comments-link" }  do %>
        Comments
        <% if post.comments.count > 0 %>(<%= post.comments.count %>)<% end %>
      <% end  %>

	  </span>



	</div>
</div>