<div class="post">
	<div class="post-top">
		<span class="post-top">
      <a class="post-link" href="<%= post.url %>" target="_blank"><%= post.title %></a>
		(<%= post.heat %>)

      <% post.categories.each do |c| %>
      <span class="label label-default">
        <%= c.name %>
      </span>
      <% end %>

		</span>

<span class="post-meta">

<strong><%= post.user.name %></strong> <%= time_ago_in_words(post.created_at) %>.

			<%= link_to 'Kommentare', post %>
	        <!--<%= link_to 'Bearbeiten', edit_post_path(post) %>-->
	        <!--<%= link_to 'Löschen', post, method: :delete, data: { confirm: 'Sicher, Luke?' } %>-->

	        </span>



	</div>
</div>