<div class="post">
	<div class="post-top">
		<span class="post-top">
      <a class="post-link" href="<%= post.url %>" target="_blank"><%= post.title %></a>
		(
      <%= post.score %>
      <%= link_to('+', upvote_post_path(post)) %> /
      <%= link_to('-', downvote_post_path(post)) %>
      )

      <% post.categories.each do |c| %>
      <span class="label label-default">
        <%= c.name %>
      </span>
      <% end %>

		</span>

<span class="post-meta">

<strong><%= post.user.name %></strong> <%= time_ago_in_words(post.created_at) %>.

			<%= link_to  post do %>
        Kommentare
        <% if post.comments.count > 0 %>(<%= post.comments.count %>)<% end %>
      <% end  %>
	        <!--<%= link_to 'Bearbeiten', edit_post_path(post) %>-->
	        <!--<%= link_to 'Löschen', post, method: :delete, data: { confirm: 'Sicher, Luke?' } %>-->

	        </span>



	</div>
</div>