<% if @cat
    content_for :title, @cat.name
end  %>

<ul class="nav">
  <li class="nav-item">
    <%= link_to("Newest", posts_path) %>
  </li>
  <li class="nav-item">
    <%= link_to "Subscribed", subscriptions_posts_path %>
  </li>
  <li class="nav-item"> 
  |
  </li>

  <% @categories.each do |c| %>
      <li class="nav-item">
        <%= link_to c.name, c %>
      </li>
  <% end %>
  <li class="nav-item">
    (<%= link_to("View all", categories_path) %>)
  </li>
</ul>


		<div class="posts">
			<%= render partial: "post", collection: @posts %></div>
		
		<br>



<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
