<%= if @category
    content_for :title, @category.name
     render 'categories/category_header'
end  %>


<ul class="nav sort">
  <li class="nav-item">
    <%= link_to("Newest", :sortby => 'newest') %>
  </li>
  <li class="nav-item">
    <%= link_to("Hot", :sortby => 'hot') %>
  </li>
  <li class="nav-item">
    <%= link_to("Best Ever", :sortby => 'best') %>
  </li>
  <li class="nav-item">
    <%= link_to "Subscribed", subscriptions_posts_path %>
  </li>
</ul>

<ul class="nav categories">
  <% @categories.each do |c| %>
      <li class="nav-item">
        <%= link_to c.name, c %>
      </li>
  <% end %>
  <li class="nav-item">
    (<%= link_to("View all", categories_path) %>)
  </li>
</ul>

<div class="posts">
  <%= render partial: "post", collection: @posts %></div>
<br>

<div class="pagination-container">
  <%= will_paginate @posts %>
</div>


<% if not @category %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
<% else %>
  <%= link_to 'New Post', new_post_path(:slackegory => @category.id), class: 'btn btn-primary' %>
<% end %>
