<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<h2>Comments</h2>
<h3>Add new comment</h3>
<%= render "comments/form" %>
<br>

<% @post.comments.each do |c| %>
  <div class="comment">
    <strong><%= c.user.name %>:</strong>
    <%= c.text %>
  </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
