<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<p>
  <%= link_to @post.url, @post.url %> 
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<h3>Add new comment</h3>
<%= render "comments/form" %>
<br>

<% @post.comments.each do |c| %>
  <div class="comment">
    <strong><%= c.user.name %>:</strong>
    <%= c.text %> 

    <%= link_to [@post, c], method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "" do %>
      <i style="color:red" class="">x</i>
    <% end %>
  </div>
<% end %>


