<%= form_for (@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label 'Description' %><br>
    <%= f.text_field :desc %>
  </div>

  <div class="field">
    <%= f.label :slug %>&nbsp;<i class="gray-text">This is used for urls. You will be able to reach this slackegory through /slackegory/your_slug</i><br>
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <%= f.label 'Parent-Slackegory' %><br>
    <!-- Substract the category itself, to not allow select itself as parent -->
    <!-- Works aswell for new view and creating, as substracting something not in the array from it will not alter it -->
      <%= f.collection_select :parent_category_id, Category.order(:name) - [@category],:id,:name, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
