<h1><%= @category.name %> (
    <% if @category.subscribed(current_user) %>
        <%= link_to('Unsubscribe', unsubscribe_category_path(@category)) %>
    <% else %>
        <%= link_to('Subscribe', subscribe_category_path(@category)) %>
    <% end %>
) </h1>

<div class="posts">
    <%= render partial: "posts/post", collection: @posts %>
</div>
<br>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
