<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


  <title>
    <% if Rails.env.development? %>[DEV]<% end %>
    <%=[content_for(:title), 'SlackerNews'].compact.join(" :: ") %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>

<div class="container">
	
<div class="row">
<div class="col-md-12">
	<header>
	<div class="page-header">
		<a href="<%= root_path %>" class="brand">SlackerNews 2.0</a> <small>alpha centauri</small>
	</div>
	<div class="menu-user">
		<ul class="hmenu">
      <% if user_signed_in? %>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
          <%= current_user.score %>
      <% end %>
      <%= render 'devise/menu/registration_items' %>
		  <%= render 'devise/menu/login_items' %>
		</ul>
	</div>
	

	</header>

	<hr class="clearfix">

	<main>
        <% if notice %>
            <p id="notice" class="alert alert-info"><%= notice %></p>
        <% end %>
		<%= yield %>
	</main>

	<hr>

	<footer>
		<small>Powered by <a href="https://github.com/kaozente/SlackerNews">the mighty SlackerNews</a></small>
	</footer>
</div>
</div>




</div>



</body>
</html>